---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 17:37:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1963709172"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-860343405"}]}]}'
  recorded_at: Wed, 10 Aug 2022 17:37:52 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=appid&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660153047,"sunrise":1660133246,"sunset":1660183395,"temp":87.3,"feels_like":85.01,"pressure":1020,"humidity":30,"dew_point":52.11,"uvi":9.57,"clouds":0,"visibility":10000,"wind_speed":5.99,"wind_deg":142,"wind_gust":13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660153080,"precipitation":0},{"dt":1660153140,"precipitation":0},{"dt":1660153200,"precipitation":0},{"dt":1660153260,"precipitation":0},{"dt":1660153320,"precipitation":0},{"dt":1660153380,"precipitation":0},{"dt":1660153440,"precipitation":0},{"dt":1660153500,"precipitation":0},{"dt":1660153560,"precipitation":0},{"dt":1660153620,"precipitation":0},{"dt":1660153680,"precipitation":0},{"dt":1660153740,"precipitation":0},{"dt":1660153800,"precipitation":0},{"dt":1660153860,"precipitation":0},{"dt":1660153920,"precipitati[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&latitude=39.738453&longitude=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-gwnhq; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2022-08-11T00:00:00+00:00'
      X-Zipkin-Id:
      - eb08403320b82aba
      Ratelimit-Remaining:
      - '4975'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-130-205-uswest2bprod
      X-Extlb:
      - 10-69-130-205-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "xM1l4yCBHxBE6J76lNngtA", "alias": "pepper-asian-bistro-denver",
        "name": "Pepper Asian Bistro", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/XPeL07Tx-rT_f51J-fuN-w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/pepper-asian-bistro-denver?adjust_creative=izgmcelmF4K6ZNLCCA-1NA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=izgmcelmF4K6ZNLCCA-1NA",
        "review_count": 699, "categories": [{"alias": "asianfusion", "title": "Asian
        Fusion"}, {"alias": "chinese", "title": "Chinese"}, {"alias": "thai", "title":
        "Thai"}], "rating": 4.0, "coordinates": {"latitude": 39.7403705, "longitude":
        -104.9539956}, "transactions": ["delivery", "pickup"], "price": "$$", "location":
        {"address1": "2831 E Colfax Ave", "address2": "", "address3": "", "city":
        "Denver", "zip_code": "80206", "country": "US", "state": "CO", "display_address":
        ["2831 E Colfax Ave", "Denver, CO 80206"]}, "phone": "+13033888377", "display_phone":
        "(303) 388-8377", "distance": 2647.043173283588}, {"id": "6kRbrLNIZKZ1fcjgsTFobg",
        "alias": "fortune-wok-to-table-denver", "name": "Fortune Wok to Table", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/aVmP8cWwrCsLWWjwx8wvjg/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=izgmcelmF4K6ZNLCCA-1NA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=izgmcelmF4K6ZNLCCA-1NA",
        "review_count": 370, "categories": [{"alia[...]
