---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&latitude=39.6937&longitude=-105.0152
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4976'
      X-Routing-Service:
      - routing-main--uswest2-77d4785ff7-vqhj4; site=public_api_v3
      X-Zipkin-Id:
      - 0d8cd98b980565f9
      Ratelimit-Resettime:
      - '2022-08-11T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "fXA9hf0IfVRtvSEc9mxnPw", "alias": "star-kitchen-denver",
        "name": "Star Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4dkpPrRVdJXCUFl4GdCbZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/star-kitchen-denver?adjust_creative=izgmcelmF4K6ZNLCCA-1NA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=izgmcelmF4K6ZNLCCA-1NA",
        "review_count": 1097, "categories": [{"alias": "dimsum", "title": "Dim Sum"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "cantonese", "title":
        "Cantonese"}], "rating": 4.0, "coordinates": {"latitude": 39.697298, "longitude":
        -105.024301}, "transactions": ["pickup", "delivery"], "price": "$$", "location":
        {"address1": "2917 W Mississippi Ave", "address2": "Ste 5", "address3": "",
        "city": "Denver", "zip_code": "80219", "country": "US", "state": "CO", "display_address":
        ["2917 W Mississippi Ave", "Ste 5", "Denver, CO 80219"]}, "phone": "+13039360089",
        "display_phone": "(303) 936-0089", "distance": 875.4377511407145}, {"id":
        "WNuT_lfBJu_uJIG-AOvNmw", "alias": "hong-kong-barbecue-denver", "name": "Hong
        Kong Barbecue", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/oUOMqPlF0QeOwyIDXsNh6w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hong-kong-barbecue-denver?adjust_creative=izgmcelmF4K6ZNLCCA-1NA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=izgmcelmF4K6ZNLCCA-1NA",
        "review_count": 219, "categories": [{"alias": "b[...]
